.navbar.navbar-light.navbar-expand-md
    .container
        a.navbar-brand(href='/')
            //i.fas.fa-cube
            | SANSAVVY
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.navbar-toggler-icon
        .collapse.navbar-collapse
            ul.nav.navbar-nav
                if user
                    if (user.role === 'admin') || (user.role === 'researcher')
                        li.nav-item(class=(title === 'Publishing') ? 'active' : undefined)
                            a.nav-link(href='/') Publishing
                        li.nav-item(class=(title === 'My Products') ? 'active' : undefined)
                            a.nav-link(href='/my-products-page') My Products
                    if user.role === 'admin'
                        li.nav-item(class=(title === 'All Products') ? 'active' : undefined)
                            a.nav-link(href='/products-page') All Products
                        li.nav-item(class=(title === 'Categories') ? 'active' : undefined)
                            a.nav-link(href='/categories-page') Categories
                    if (user.role === 'admin') || (user.role === 'researcher')
                        li.nav-item(class=(title === 'Add Product') ? 'active' : undefined)
                            a.nav-link(href='/products/add') Add Product
                    if user.role === 'admin'
                        li.nav-item(class=(title === 'Users') ? 'active' : undefined)
                            a.nav-link(href='/users-page') Users
                        //li.nav-item(class=(title === 'Create user') ? 'active' : undefined)
                        //    a.nav-link(href='/signup') Create user
                //li.nav-item(class=(title === 'Contact') ? 'active' : undefined)
                //  a.nav-link(href='/contact') Contact
            ul.nav.navbar-nav.ml-auto
                if !user
                    li.nav-item(class=(title === 'Login') ? 'active' : undefined)
                        a.nav-link(href='/login') Login
                    li.nav-item(class=(title === 'Register') ? 'active' : undefined)
                        a.nav-link(href='/signup') Register
                else
                    li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
                        a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
                            if user.profile.picture
                                img(src=user.profile.picture)
                            else
                                img(src=user.gravatar(60))
                            span= user.profile.name || user.email || user.id
                            i.caret
                        ul.dropdown-menu
                            li.dropdown-item
                                a(href='/account') My Account
                            li.divider.dropdown-item
                            li.dropdown-item
                                a(href='/logout') Logout
