extends layout

block content
    h3= title
    if(publish)
        //button.btn.btn-light(onclick='window.history.back()')
        a.btn.btn-light(href='/my-products-page')
            i.fa.fa-chevron-left
        ul#myTab.nav.nav-tabs.justify-content-center(role='tablist')
            li.nav-item
                a#home-tab.nav-link.active(data-toggle='tab', href='#published', role='tab', aria-controls='home', aria-selected='true') PUBLISHED
            li.nav-item
                a#profile-tab.nav-link(data-toggle='tab', href='#unpublished', role='tab', aria-controls='profile', aria-selected='false') UNPUBLISHED
        #myTabContent.tab-content
            #published.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
                .row
                    each product, index in products
                        if  product.published
                            .col-md-4
                                include products/product
            #unpublished.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
                .row
                    each product, index in products
                        unless  product.published
                            .col-md-4
                                include products/product
    else
        if (savvyList)
            p A Savvy List By
                span.text-warning= ' ' + user.email
                |   :
        .row
            each product, index in products
                .col-md-4
                    include products/product
