extends ../layout

block content
    .pb-2.mt-2.mb-4.border-bottom
        h3= title
    .row
        .col-md-4
            form(method='POST' action="/categoies")
                input(type='hidden', name='_csrf', value=_csrf)
                .form-group.row
                    label.col-md-3.col-form-label.font-weight-bold.text-right(for='name') Category name
                    .col-md-7
                        input.form-control(type='text', name='name', id='name', required)
                .form-group.offset-sm-3.col-md-7.pl-2
                    button.btn.btn-success(type='submit')
                        i.fas.fa-plus.fa-sm
                        | Create
