extends ../layout

block content
    .pb-2.mt-2.mb-4.border-bottom
        h3= title

    .row
        each product in products
            .col-md-4
                a.link.cartWrap(href='/products/' + product._id)
                    include product